.editorContainer {

  .styledError {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;

    background-color: lightcoral;
  }

  .styledEditor,
  .styledPreview,
  .styledError,
  .styledScope {
    flex-grow: 1;
  }

  .editorWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: cornsilk;
    flex-wrap: wrap;
    
    $editorBackground: #333333;

    .styledEditor {
      background-color: $editorBackground;
      width: 50%;
      caret-color: lighten($color: $editorBackground, $amount: 70);
    }

    & > div {
      display: flex;
    }
    
    .styledPreview {
      background-color: white;
      width: 50%;
    }

    .styledScope {
      white-space: pre-wrap;
      height: 100%;
    }
  }
}
