.info {
  flex-grow: 1;
  background-color: white;
  
  .active {
    background-color: yellowgreen;
    border: 1px solid black;
  }

  blockquote {
    padding-left: 3em;
    border-left: .5em #ccc solid;
  }
}
