.tableOfContents {
  margin: 5px;
  padding: 5px;

  background-color: antiquewhite;

  // min-width: 250px;

  // Add extra margin to nested ones
  .toc-link .toc-link .toc-link-text {
    padding-left: 20px;
  }
  
  .active .toc-link-text {
    background-color: lighten(navy, 65%);
    color: navy;
    // text-decoration: wavy;
    /* border: 1px solid black; */
  }

  .toc-link-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    background-color: white;

    &:hover {
      background-color: darken(antiquewhite, 10%);
    }
  }

  &:hover {
    width: fit-content;
  }
}

