@use '../../scss/colors';

.tableOfContents {
  margin: 5px;
  padding: 5px;

  border: colors.$general-border;
  border-radius: colors.$general-border-radius;

  // from Bootstrap bg-light
  background-color: colors.$light-background;

  .toc-link {
    background-color: colors.$light-background;
  }
  // Add extra margin to nested ones
  .toc-link .toc-link {
    padding-left: 5px;
  }
  
  .active .toc-link-text {
    background-color: lighten(colors.$main-color, 65%);
    color: colors.$main-color;
  }

  .toc-link-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding-left: .5em;
    padding-right: .5em;

    &:hover {
      background-color: darken(colors.$light-background, 10%);
    }
  }

  &:hover {
    width: fit-content;
  }
}

