.tableOfContents {
  margin: 5px;
  padding: 5px;

  background-color: antiquewhite;

  .toc-link {
    background-color: white;
  }
  // Add extra margin to nested ones
  .toc-link .toc-link {
    padding-left: 5px;
  }
  
  .active .toc-link-text {
    background-color: lighten(navy, 65%);
    color: navy;
  }

  .toc-link-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding-left: .5em;
    padding-right: .5em;

    &:hover {
      background-color: darken(antiquewhite, 10%);
    }
  }

  &:hover {
    width: fit-content;
  }
}

