.tableOfContents {
  margin: 5px;
  background-color: antiquewhite;
}

.tableOfContents .active div {
  background-color: blue;
  color: white;
  /* border: 1px solid black; */
}

.tableOfContents .toc-link .toc-link {
  margin-left: 5px;
}
