@use 'bootstrap';
@use '../../scss/colors';

.page {
  flex: 1;
  margin: 5px;
  padding: 5px;
  
  .active {
    border: 1px solid black;
  }

  .exampleSelectors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 5px;

    border: colors.$general-border;
    border-radius: colors.$general-border-radius;

    background-color: colors.$light-background;

    .btn-selector {
      @include bootstrap.button-variant(lighten(colors.$main-color, 15%), colors.$secondary-color);
    }
  }
}
